<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/a81368914c.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
    <br>
    <br>
    <br>
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div
                class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img
                        src="https://prodaptcloud-my.sharepoint.com/personal/vishall_k_prodapt_com/Documents/Microsoft%20Teams%20Chat%20Files/Picsart_22-06-03_15-02-44-250.jpg"
                        class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <br>
                    <div class="text-center">
                        <img src="https://prodaptcloud-my.sharepoint.com/personal/vishall_k_prodapt_com/Documents/Microsoft Teams Chat Files/Picsart_22-06-03_15-00-51-562.jpg" class="img-fluid" height="30%" width="30%"style="float:center"/>
                    </div>
                    <div style="font-size: 40px;">
                        <p class="text-center"><b>WELCOME</b></p>
                    </div>
                    <br>
                    <form  [formGroup]="addform" (ngSubmit)="submit()">

                        <!--Mobile Number input-->
                        <div class="form-outline mb-3">
                            <label class="form-label" for="form3Example4">Mobile No.</label>
                             <input  formControlName="mobile"
                                type="tel"
                                class="form-control form-control-lg"
                                placeholder="Enter Mobile No." />
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-3">
                            <label class="form-label" for="form3Example4">Password</label> 
                            <input formControlName="password"
                                type="password"
                                class="form-control form-control-lg"
                                placeholder="Enter password" />
                        </div>

                        <div class="d-flex justify-content-between align-items-center">
                            <!-- Checkbox -->
                            <div class="form-check mb-0">
                                <input class="form-check-input me-2" type="checkbox" value=""
                                    id="form2Example3" /> <label class="form-check-label"
                                    for="form2Example3"> Remember me </label>
                            </div>
                            <a href="#!" class="text-body" style="color: limegreen;">Forgot password?</a>
                        </div>

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="submit" class="btn btn-lg"
                                style="padding-left: 5rem; padding-right: 5rem;background-color: limegreen;color: white;">Login</button>
                            <p class="small fw-bold mt-2 pt-1 mb-0" style="float: right;padding-right:80px">
                                Don't have an account? <a href="register" 
                                    class="link" style="text-decoration: none;color:limegreen;">Register</a>
                            </p>
                            <br> <br> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>