.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}
 
input[type=submit]:hover {
    background-color: #45a049;
}
 
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
 
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}
 
.heading {
    float: left;
    font-size: 30px;
    padding: 5px 0px 5px 50px;
    color: forestgreen;
}
 .pos
 {
     position: absolute;
     right:850px;
     top:400px;
     

 }
.navbox {
    text-align: right;
    font-size: 20px;
    padding: 10px 50px 10px 0px;
}
 
a:link {
    text-decoration: none;
}
 
a:hover {
    color: forestgreen;
}
 
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}
 
.row:after {
    content: "";
    display: table;
    clear: both;
}
 
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}