<br>
<br>
<br>
<br>
<br>
<form class="form" [formGroup]="rechargeform" (ngSubmit)="Recharge()">
    <input type="text" formControlName="mobile_no" class="name formEntry" placeholder="Phone no" />
    <textarea class="name formEntry" formControlName="plan_price" placeholder="Enter Amount"></textarea>
    <button class="submit formEntry" type="submit">Recharge</button>
  </form>
  <div class="container-fluid">
		<div class="row">
			<div class="col-sm-6" style="padding:10px;padding-left: 100px;padding-right: 40px;padding-top: -10px;">
				<br>
				<p style="font-size: 40px;"><a style="color:limegreen">Prepaid</a><br> Recharge</p>
				<br>
			
				<br>
				<br>
			</div>
        </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-sm-12" style="background-color:cornsilk;padding:10px;padding-left: 50px;padding-right: 40px;" width="100%">
          <br>
          <div class="container">
          <p style="font-size: 30px;"><a style="color:limegreen">Online</a> Recharge</p>
          <p style="font-size:20px;"> Recharge can be done in easy steps through online mode. Enter the  mobile number and proceed to choose prepaid recharge pack from a range of best-selling  Prepaid plans. Recharge Online now to avail deals and get the hassle-free Prepaid recharge experience.</p>
          <br>
          <br>
        </div>
        </div>
    </div>
</div>
        <app-footer></app-footer>