<br>
<br>
<br>
<p style="font-size: 30px;text-align: center;background-color: limegreen;color:white ;padding: 20px 0px 20px 0px;"><b>Browse Dongle Recharge Plans</b></p>  <br> 

    <div class="container">
      <div class="column">
        <div class="pricing-card basic">
          <div class="pricing-header">
            <span class="plan-title">Monthly Rental</span>
            <div class="price-circle">
              <span class="price-title">
                <small>₹</small><span>999</span>
              </span>
              
            </div>
          </div>
          <div class="badge-box">
            <span>Entertainment</span>
          </div>
          <ul>
            <li>
              <strong>Unlimited Internet </strong><b>-</b> 200Mbps Speed
            </li>
            
            <li>
              <strong>Unlimited
                Local/STD Calls</strong>
            </li>
            <li>
              <strong>Includes VoizFonica benefit</strong> 
            </li>
            
          </ul>
          <div class="buy-button-box">
            <a href="paybill" class="buy-now">BUY NOW</a>
          </div>        
        </div>
      </div>
      <div class="column">
        <div class="pricing-card echo">
          <div class="pricing-header">
            <span class="plan-title">Monthly Rental</span>
            <div class="price-circle">
              <span class="price-title">
                <small>₹</small><span>499</span>
              </span>
           

            </div>
          </div>
          <div class="badge-box">
            <span>Basic</span>
          </div>
          <ul>
            <li>
              <strong>Unlimited Internet </strong><b>-</b> 40Mbps Speed
            </li>
            
            <li>
              <strong>Unlimited Local</strong>
            </li>
            <li>
              <strong>Includes VoizFonica benefit</strong> 
            </li>
            
          </ul>
          <div class="buy-button-box">
            <a href="paybill" class="buy-now">BUY NOW</a>
          </div>        
        </div>
      </div>
      <div class="column">
        <div class="pricing-card pro">
          <div class="pricing-header">
            <span class="plan-title">Monthly Rental</span>
            <div class="price-circle">
              <span class="price-title">
                <small>₹</small><span>699</span>
              </span>

            </div>
          </div>
          <div class="badge-box">
            <span>Basic + TV</span>
          </div>
          <ul>
            <li>
              <strong>Unlimited Internet</strong><b>-</b> 40Mbps Speed
            </li>
            
            <li>
              <strong>Unlimited Local/STD Calls</strong>
            </li>
            <li>
              <strong>Includes VoizFonica benefit</strong> 
            </li>
            
          </ul>
          <div class="buy-button-box">
            <a href="paybill" class="buy-now">BUY NOW</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="pricing-card business">
          <div class="popular">POPULAR</div>
          <div class="pricing-header">
            <span class="plan-title">Monthly Rental</span>
            <div class="price-circle">
              <span class="price-title">
                <small>₹</small><span>1599</span>
              </span>
             
            </div>
          </div>
          <div class="badge-box">
            <span>Professional + TV</span>
          </div>
          <ul>
            <li>
              <strong>Unlimited Internet</strong><b>-</b> 300Mbps Speed
            </li>
            
            <li>
              <strong>Unlimited Local/STD Calls</strong>
            </li>
            <li>
              <strong>Includes VoizFonica benefit</strong> 
            </li>
            
          </ul>
          <div class="buy-button-box">
            <a href="paybill" class="buy-now">BUY NOW</a>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <app-footer></app-footer>