<title>About Us</title>
<style>
	.left {
position: absolute;
right: 100px;
width: 400px;
top: 80px;
}
</style>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<br>
<br>
<br>
<br>

<div style="padding-left: 100px;float:left">
	<br>
	<font style=" color:limegreen;font-size: 40px; padding-top: 30px;">Our focus</font><br> <font
		style="font-size: 35px;">Win customers for life by<br>
		Offering an exceptional experience
	</font>
	<img src="\assets\img\Vabout.jpg" class="left">&nbsp;&nbsp;&nbsp;
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
	<div style="padding-left: 70px; padding-top: 30px">
		<font style="font-size: 35px; padding: 50px;color:limegreen">VoizFonica</font>
	</div>
	<div class="container">
		<p
			style="font-size: 18px; color: black; line-height: 1.6; letter-spacing: 1; padding: 20px">VoizFonica
			Limited is a leading global telecommunications company with
			operations in 18 countries across Asia and Africa. Headquartered in
			New Delhi, India, the company ranks amongst the top 3 mobile service
			providers globally in terms of subscribers. In India, the company's
			product offerings include 2G, 3G and 4G wireless services, mobile
			commerce, fixed line services, high speed home broadband, DTH,
			enterprise services including national & international long distance
			services to carriers. In the rest of the geographies, it offers 2G,
			3G, 4G wireless services and mobile commerce. VoizFonica had over 403
			million customers across its operations at the end of March 2019. To
			know more please visit, www.voizfonica.in</p>
	</div>
	<div class="container-fluid" style="background:forestgreen;padding:15px 0px 15px 0px;text-align:center;font-size:40px;color:white">
		<p>Business Overviews</p>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6" style="padding:10px;padding-left: 50px;padding-right: 40px;">
				<br>
				<p style="font-size: 30px;"><a style="color:limegreen">Mobile</a> Services</p>
				<br>
				<p style="font-size:20px;">VoizFonica offers GSM mobile services in all the 22 telecom circles of India.</p>
				<br>
				<br>
			</div>
			<div class="col-sm-6" style="background-color:cornsilk;padding: 10px;padding-left: 40px;padding-right: 40px;">
				<br>
				<p style="font-size: 30px;"><a style="color:limegreen">Home</a> Services</p>
				<br>
				<p style="font-size:20px;">VoizFonica offers fixed-line telephone and broadband services across 93 cities pan-India. Our product offerings include voice connectivity over fixed-line and high-speed broadband on copper & fiber with speeds up to 1 Gbps for your homes.</p>
				<br>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6" style="background-color:cornsilk;padding:10px;padding-left: 50px;padding-right: 40px;">
				<br>
				<p style="font-size: 30px;"><a style="color:limegreen">VoizFonica</a> Services</p>
				<br>
				<p style="font-size:20px;">VoizFonica is a leading and most trusted provider of ICT services in India and offers a diverse portfolio of services to enterprises, governments, carriers and small and medium business. We also offer global services in both voice and data including VAS services like International Toll Free Services and SMS hubbing.</p>
				<br>
				<br>
			</div>
			<div class="col-sm-6" style="padding: 10px;padding-left: 40px;padding-right: 40px;">
				<br>
				<p style="font-size: 30px;"><a style="color:limegreen">Digital TV</a> Services</p>
				<br>
				<p style="font-size:20px;">We offer both standard and high definition (HD) digital TV services with 3D capabilities and Dolby surround sound. We currently offer a total of 635 channels including 80 HD channels, 5 international channels and 3 interactive services.</p>
				<br>
				<br>
			</div>
		</div>
	</div>
    <app-footer></app-footer>