<br>
<br>
<div class="container">
	<h3 class="heading" style="color:limegreen;text-decoration:none;font-size: 35px;">
        Explore Various benefits that worth 
         <span>over 2000</span></h3>
	<div class="gallery">
		<div class="gallery-item">
			<img class="gallery-image" src="assets/img/img4.png" alt="car interior from central back seat position showing driver and blurred view through windscreen of a busy road at night">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="assets/img/img5.png" alt="back view of woman wearing a backpack and beanie waiting to cross the road on a busy street at night in New York City, USA">
		</div>
		<div class="gallery-item">
			<img class="gallery-image" src="assets/img/img6.png" alt="man wearing a black jacket, white shirt, blue jeans, and brown boots, playing a white electric guitar while sitting on an amp">
		</div>
	</div>
</div>
<app-footer></app-footer>