<br>
<br>
<br>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<style>
    .down {
  position: absolute;
  right: 950px;
 
  width: 250px;
  
  text-align: center;
  font-size:25px;
  border-radius: 15px;
  margin: 10px;
  top: 1430px;
  background-color: rgb(23, 241, 15);
  color: white;
  
}
.button {
  background-color: limegreen;
  border: none;
  color: white;
  padding: 10px ;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}
    .zoom:hover {
	-ms-transform: scale(1); /* IE 9 */
	-webkit-transform: scale(1); /* Safari 3-8 */
	transform: scale(1.2);
}
</style>
<div id="slider">
	<div class="slides">
	<div class="slider">
	<div class="image">
	<img src="assets/img/more.png">
	</div>
	</div>
	<div class="slider">
	<div class="image">
	<img src="assets/img/at.png">
	</div>
	</div>
	<div class="slider">
	<div class="image">
	<img src="assets/img/conf.png">
	</div>
	</div>
	<div class="slider">
	<div class="image">
	<img src="assets/img/corp.png">
	</div>
	</div>
	</div>
	<br>
	<div class="switch">
	<ul>
	<li>
	<div class="on"></div>
	</li>
	<li></li>
	<li></li>
	<li></li>
	</ul>
	</div>
	</div>
	<br>
<div class="container-fluid"
		style="padding-left: 90px; padding-right: 50px; padding-top: 30px; padding-bottom: 20px; background-color: limegreen">
		<div style="color: white;">
			<h3>Recharge & Pay Bills</h3>
			<h5>Get Extra Cashbach & Offers</h5>
		</div>
	</div>
	<br>
	<br>
	<div class="container">
		<h2>EXPERIENCE OUR SERVICES</h2>
		<br>
		<div class="row">
			<div class="col-sm-2">
				<div class="zoom">
					<div class="card">
						<div class="card-body">
                            <img draggable="false" src="https://assets.airtel.in/static-assets/new-home/img/services-sim.svg?v=1653038873041" alt="Buy Prepaid" width="28" height="28"><br>
                            <p style="font-size:7px"></p>
							<a href="newdongle" style="text-decoration:none;color: black; font-size: 18px;">Buy
								<br>Prepaid
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="zoom">
					<div class="card">
						<div class="card-body">
                            <img draggable="false" src="https://assets.airtel.in/static-assets/new-home/img/services-sim.svg?v=1653038873041" alt="Buy Prepaid" width="28" height="28"><br>
                            <p style="font-size:7px"></p>
							<a href="newdongle" style="text-decoration:none;color: black; font-size: 18px;">Buy
								<br>Postpaid
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="zoom">
					<div class="card">
						<div class="card-body">
                            <img draggable="false" src="https://assets.airtel.in/static-assets/new-home/img/services-broadband.svg?v=1653038873041" alt="Buy Broadband" width="28" height="28"><br>
                            <p style="font-size:7px"></p>
							<a href="newdongle" style="text-decoration:none;color: black; font-size: 18px;">Buy
								<br>Broadband
							</a>
						</div>
					</div>
				</div>
			</div>
            <div class="col-sm-2">
				<div class="zoom">
					<div class="card">
						<div class="card-body">
                            <img draggable="false" src="https://assets.airtel.in/static-assets/new-home/img/service-business-postpaid.svg?v=1653038873041" alt="Business Postpaid" width="28" height="28"><br>
                            <p style="font-size:7px"></p>
							<a href="recharge" style="text-decoration:none;color: black; font-size: 18px;">Recharge
								<br>Now
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="zoom">
					<div class="card">
						<div class="card-body">
                            <img draggable="false" src="https://assets.airtel.in/static-assets/new-home/img/services-xstream.svg?v=1653038873041" alt="Buy Xstream" width="28" height="28"><br>
                            <p style="font-size:7px"></p>
							<a href="premium" style="text-decoration:none;color: black; font-size: 18px;">VoizFonica
								<br>Premium
							</a>
						</div>
					</div>
				</div>
			</div>
            <div class="col-sm-2">
				<div class="zoom">
					<div class="card">
						<div class="card-body">
                            <img draggable="false" src="https://assets.airtel.in/static-assets/new-home/img/services-pretopost.svg?v=1653038873041" alt="Prepaid to Postpaid" width="28" height="28"><br>
                            <p style="font-size:7px"></p>
							<a style="text-decoration:none;color: black; font-size: 18px;">Prepaid
								<br>to Postpaid
							</a>
						</div>
					</div>
				</div>
			</div>
        </div>
	</div>
    <br>
    <br>
	<div class ="container text-center" id="box">
        <h2 class="u-text u-text-custom-color-1 u-text-default u-text-1" style="color:limegreen">Our Features &amp; Services.</h2>
  <br>
  <br>
  <div class="row">
  <div class="col-sm-4">
        <div class="card" style="width: 20rem;float:left;padding-bottom: 15px;">
    <img src="assets/img/prepaid.jpg" class="card-img-top" >
    <div class="card-body">
      <h5 class="card-title" style="color:limegreen;font-size:25px">Prepaid</h5>
      <p class="card-text u-text u-text-palette-1-dark-2 u-text-7"><b>Prepaid plan can lock in the cost of your wireless service, paying the same amount each month.</b></p><br>
      <a href="preplans" class="btn" style="background-color: limegreen;border-radius: 20px;color:white;padding: 7px 20px 7px 25px;font-size: 18px;">View Plans</a><br>
    </div>
  </div>
</div>
<div class="col-sm-4" style="padding-left:30px">
  <div class="card" style="width: 20rem;float:left;padding-bottom: 15px;">
    <img src="assets/img/postpaid.jpg" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title" style="color:limegreen;font-size:25px">Postpaid</h5>
      <p class="card-text u-text u-text-palette-1-dark-2 u-text-7" ><b>Postpaid plans allow you to pay your bill after you've received service each month.</b></p><br>
      <a href="postplans" class="btn" style="background-color: limegreen;border-radius: 20px;color:white;padding: 7px 20px 7px 25px;font-size: 18px;">View Plans</a><br>
    </div>
  </div>
</div>
  <div class="col-sm-4">
  <div class="card" style="width: 20rem; float:right;padding-bottom: 15px;">
    <img src="assets/img/dongle.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title u-text u-text-palette-1-dark-2 u-text-7" style="color:limegreen;font-size:25px">Dongle</h5>
      <p class="card-text"><b>Connect to laptops, phones to provide them with convenient internet service on the go.</b></p><br>
      <a href="dongleplans" class="btn" style="background-color: limegreen;border-radius: 20px;color:white;padding: 7px 20px 7px 25px;font-size: 18px;">View Plans</a><br>
    </div>
</div>
  </div>
</div>
</div>
<br>
<br>
<app-footer></app-footer>