<br>
<br>
<br><p style="font-size: 30px;text-align: center;background-color: limegreen;color:white ;padding: 20px 0px 20px 0px;"><b>Browse Prepaid Recharge Plans</b></p>  <br> 

    <div class="container">
      <div class="column">
        <div class="pricing-card basic">
          <div class="pricing-header">
            <span class="plan-title">BASIC </span>
            <div class="price-circle">
              <span class="price-title">
                <small>₹</small><span>149</span>
              </span>
              
            </div>
          </div>
          <div class="badge-box">
            <span>Save 35%</span>
          </div>
          <ul>
            <li>
              <strong>2 GB</strong> Data
            </li>
            <li>
              <strong>100 mins</strong> Calls
            </li>
            <li>
              <strong>50 SMS</strong> /Day
            </li>
            <li>
              <strong>28 days</strong> Validity
            </li>
            
          </ul>
          <div class="buy-button-box">
            <a href="recharge" class="buy-now">BUY NOW</a>
          </div>        
        </div>
      </div>
      <div class="column">
        <div class="pricing-card echo">
          <div class="pricing-header">
            <span class="plan-title">STANDARD</span>
            <div class="price-circle">
              <span class="price-title">
                <small>₹</small><span>249</span>
              </span>
           
            </div>
          </div>
          <div class="badge-box">
            <span>Save 15%</span>
          </div>
          <ul>
            <li>
              <strong>1.5 GB/day</strong> Data
            </li>
            <li>
              <strong>Unlimited</strong> Calls
            </li>
            <li>
              <strong>100 SMS</strong> /Day
            </li>
            <li>
              <strong>36 days</strong> Validity
            </li>
            
          </ul>
          <div class="buy-button-box">
            <a href="recharge" class="buy-now">BUY NOW</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="pricing-card pro">
          <div class="popular">POPULAR</div>
          <div class="pricing-header">
            <span class="plan-title">UNLIMITED</span>
            <div class="price-circle">
              <span class="price-title">
                <small>₹</small><span>489</span>
              </span>

            </div>
          </div>
          <div class="badge-box">
            <span>Save 8%</span>
          </div>
          <ul>
            <li>
              <strong>Unlimited</strong> Data
            </li>
            <li>
              <strong>Unlimited</strong> Calls
            </li>
            <li>
              <strong>Unlimited SMS</strong> /Day
            </li>
            <li>
              <strong>56 days</strong> Validity
            </li>
            
          </ul>
          <div class="buy-button-box">
            <a href="recharge" class="buy-now">BUY NOW</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="pricing-card business">
          <div class="pricing-header">
            <span class="plan-title">FAMILY</span>
            <div class="price-circle">
              <span class="price-title">
                <small>₹</small><span>999</span>
              </span>
             
            </div>
          </div>
          <div class="badge-box">
            <span>Save 5%</span>
          </div>
          <ul>
            <li>
              <strong>3 GB/day</strong> Data
            </li>
            <li>
              <strong>Unlimited</strong> Calls
            </li>
            <li>
              <strong>Unlimited</strong> /Day
            </li>
            <li>
              <strong>82 days</strong> Validity
            </li>
            
          </ul>
          <div class="buy-button-box">
            <a href="recharge" class="buy-now">BUY NOW</a>
          </div>
        </div>
      </div>
    </div>
    <br><br> 
    <div class="container">
      <div class="column">
        <div class="pricing-card basic">
          <div class="pricing-header">
            <span class="plan-title">SMART RECHARGE </span>
            <div class="price-circle">
              <span class="price-title">
                <small>₹</small><span>99</span>
              </span>
              
            </div>
          </div>
          <div class="badge-box">
            <span>Save 35%</span>
          </div>
          <ul>
            <li>
              <strong>200 MB</strong> Data
            </li>
            <li>
              <strong>90 mins</strong> Calls
            </li>
            <li>
              <strong>10 SMS</strong> /Day
            </li>
            <li>
              <strong>28 days</strong> Validity
            </li>
            
          </ul>
          <div class="buy-button-box">
            <a href="recharge" class="buy-now">BUY NOW</a>
          </div>        
        </div>
      </div>
      <div class="column">
        <div class="pricing-card echo">
          <div class="pricing-header">
            <span class="plan-title">DATA</span>
            <div class="price-circle">
              <span class="price-title">
                <small>₹</small><span>118</span>
              </span>
           
            </div>
          </div>
          <div class="badge-box">
            <span>Save 15%</span>
          </div>
          <ul>
            <li>
              <strong>12 GB</strong> Data
            </li>
            <li>
              <strong>Unlimited</strong> Calls
            </li>
            <li>
              <strong>100 SMS</strong> /Day
            </li>
            <li>
              <strong>24 days</strong> Validity
            </li>
            
          </ul>
          <div class="buy-button-box">
            <a href="recharge" class="buy-now">BUY NOW</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="pricing-card pro">
          <div class="popular">POPULAR</div>
          <div class="pricing-header">
            <span class="plan-title">TALKTIME</span>
            <div class="price-circle">
              <span class="price-title">
                <small>₹</small><span>500</span>
              </span>

            </div>
          </div>
          <div class="badge-box">
            <span>Save 8%</span>
          </div>
          <ul>
            <li>
              <strong>Unlimited</strong> Data
            </li>
            <li>
              <strong>Unlimited</strong> Calls
            </li>
            <li>
              <strong>Unlimited SMS</strong> /Day
            </li>
            <li>
              <strong>28 days</strong> Validity
            </li>
            
          </ul>
          <div class="buy-button-box">
            <a href="recharge" class="buy-now">BUY NOW</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="pricing-card business">
          <div class="pricing-header">
            <span class="plan-title">CRICKET PLANS</span>
            <div class="price-circle">
              <span class="price-title">
                <small>₹</small><span>399</span>
              </span>
             
            </div>
          </div>
          <div class="badge-box">
            <span>Save 5%</span>
          </div>
          <ul>
            <li>
              <strong>2.5 GB/day</strong> Data
            </li>
            <li>
              <strong>Unlimited</strong> Calls
            </li>
            <li>
              <strong>Unlimited Data</strong> /Day
            </li>
            <li>
              <strong>82 days</strong> Validity
            </li>
            
          </ul>
          <div class="buy-button-box">
            <a href="recharge" class="buy-now">BUY NOW</a>
          </div>
        </div>
      </div>
    </div>
    <br>
    <app-footer></app-footer>