<br>
<br>
<br>
<p style="font-size: 30px;text-align: center;background-color: limegreen;color:white ;padding: 20px 0px 20px 0px;"><b>Browse Postpaid Recharge Plans</b></p>  <br> 

    <div class="container">
      <div class="column">
        <div class="pricing-card basic">
          <div class="pricing-header">
            <span class="plan-title">Monthly Rental</span>
            <div class="price-circle">
              <span class="price-title">
                <small>₹</small><span>399</span>
              </span>
              
            </div>
          </div>
          <div class="badge-box">
            <span>BENEFITS</span>
          </div>
          <ul>
            <li>
              <strong>Data with rollover</strong> 40 GB
            </li>
            <li>
              <strong>SMS per day</strong> 100
            </li>
            <li>
              <strong>Local/STD & Roaming Calls</strong> Unlimited
            </li>
            <li>
              <strong>Voizfonica Prime</strong> No
            </li>
            
          </ul>
          <div class="buy-button-box">
            <a href="paybill" class="buy-now">BUY NOW</a>
          </div>        
        </div>
      </div>
      <div class="column">
        <div class="pricing-card echo">
          <div class="pricing-header">
            <span class="plan-title">Monthly Rental</span>
            <div class="price-circle">
              <span class="price-title">
                <small>₹</small><span>499</span>
              </span>
           
            </div>
          </div>
          <div class="badge-box">
            <span>BENEFITS</span>
          </div>
          <ul>
            <li>
              <strong>Data with rollover</strong> 75 GB
            </li>
            <li>
              <strong>SMS per day</strong> 100
            </li>
            <li>
              <strong>Local/STD & Roaming Calls</strong> Unlimited
            </li>
            <li>
              <strong>Voizfonica Prime</strong> Yes
            </li>
            
          </ul>
          <div class="buy-button-box">
            <a href="paybill" class="buy-now">BUY NOW</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="pricing-card pro">
          <div class="pricing-header">
            <span class="plan-title">Monthly Rental</span>
            <div class="price-circle">
              <span class="price-title">
                <small>₹</small><span>999</span>
              </span>

            </div>
          </div>
          <div class="badge-box">
            <span>BENEFITS</span>
          </div>
          <ul>
            <li>
              <strong>Data with rollover</strong> 100 GB
            </li>
            <li>
              <strong>SMS per day</strong> 100
            </li>
            <li>
              <strong>Local/STD & Roaming Calls</strong> Unlimited
            </li>
            <li>
              <strong>Voizfonica Prime</strong> Yes
            </li>
            
          </ul>
          <div class="buy-button-box">
            <a href="paybill" class="buy-now">BUY NOW</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="pricing-card business">
          <div class="popular">POPULAR</div>
          <div class="pricing-header">
            <span class="plan-title">Monthly Rental</span>
            <div class="price-circle">
              <span class="price-title">
                <small>₹</small><span>1199</span>
              </span>
             
            </div>
          </div>
          <div class="badge-box">
            <span>BENEFITS</span>
          </div>
          <ul>
            <li>
              <strong>Data with rollover</strong> 150 GB
            </li>
            <li>
              <strong>SMS per day</strong> 100
            </li>
            <li>
              <strong>Local/STD & Roaming Calls</strong> Unlimited
            </li>
            <li>
              <strong>Voizfonica Prime</strong> Yes
            </li>
            
          </ul>
          <div class="buy-button-box">
            <a href="paybill" class="buy-now">BUY NOW</a>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <app-footer></app-footer>