<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<!-- Footer -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Boxicons CDN Link -->
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<footer class="text-center text-lg-start text-muted">

	<!-- Section: Social media -->
	<section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

	 <!-- Right -->
 	<div>
 		<ul class="social-icons" style="position:absolute ;bottom:auto;right: 100px;">
			<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
			<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
			<li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
			<li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>  
	  </ul>
 	</div>
 	<!-- Right -->
	</section>
	<!-- Section: Social media -->

	<!-- Section: Links  -->
	<section class="">
 		<div class="container text-center text-md-start mt-5">
   			<!-- Grid row -->
   			<div class="row mt-3">
				<!-- Grid column -->
	 			<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
	   				<!-- Content -->
					<h6 class="text-uppercase fw-bold mb-3">
						<i class="fas fa-gem"></i><a style="color: limegreen;">VoizFonica</a>
					</h6>
					<p style="color:black;">
						We are constantly pushing the limits to define the new. Bring a new networking technology or launching the first open network of the country, making an impact that matters is VoizFonica's DNA.
					</p>
	 			</div>
	 			<!-- Grid column -->

	 			<!-- Grid column -->
	 			<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
	   				<!-- Links -->
					<h6 class="text-uppercase fw-bold mb-3">
						<a style="color: limegreen;">Services</a>
					</h6>
					<p class="mb-2"><a href="preplans"style="text-decoration: none;" class="text-reset">Prepaid</a></p>
					<p class="mb-2"><a href="postplans"style="text-decoration: none;" class="text-reset">Postpaid</a></p>
					<p><a href="dongleplans"style="text-decoration: none;" class="text-reset">Dongle</a></p>
				</div>
				<!-- Grid column -->

	 			<!-- Grid column -->
	 			<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
					<!-- Links -->
					<h6 class="text-uppercase fw-bold mb-3">
						<a style="color: limegreen;">Help</a>
					</h6>
					<p class="mb-2"><a href="contact"style="text-decoration: none;" class="text-reset">Contact us</a></p>
					<p class="mb-2"><a href="createinquiry"style="text-decoration: none;" class="text-reset">Enquiry</a></p>
					<p><a href="faq" style="text-decoration: none;" class="text-reset">FAQ</a></p>
	   
	 			</div>
	 			<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
					<!-- Links -->
					<h6 class="text-uppercase fw-bold mb-3">
						<a style="color: limegreen;">Useful links</a>
					</h6>
					<p class="mb-2"><a href="about"style="text-decoration: none;" class="text-reset">About us</a></p>
					<p class="mb-2"><a href="#!"style="text-decoration: none;" class="text-reset">New Connection</a></p>
					<p><a href="#!" style="text-decoration: none;" class="text-reset">Recharge</a></p>
				</div>
				<!-- Grid column -->
   			</div>
   			<!-- Grid row -->
 		</div>
	</section>
	<!-- Section: Links  -->

</footer>
<!-- Footer -->

<div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-6 px-xl-5" style="background:limegreen">
	<div class="text-white mb-3 mb-md-0">© 2022 VoizFonica® India. All Rights Reserved.</div>
</div>